# 忽略 Python 虚拟环境和缓存
.venv/
__pycache__/
*.pyc

# 忽略桌面上的无关文件和文件夹
.workbuddy/
Escape from Duckov/
*.lnk

# 忽略 Git 相关配置（防止冲突）
.git/

# 忽略 VS Code 配置
.vscode/
# 忽略压缩包
*.7z
*.zip
*.rar

# 忽略游戏文件夹和快捷方式
Escape from Duckov/
*.lnk